---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div>
    <div class="container">

      <div class="row">
        Skills and proficiencies:
      </div>

      <div style="display: grid; grid-template-columns: auto auto auto; padding: 10px; margin-bottom: 10px;">
        <div class="grid-item" style="grid-column: 1">
          <svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#dotnet' | relative_url }}"></use></svg>
        </div>
        <div class="grid-item" style="grid-column: 2">
          <svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#csharp' | relative_url }}"></use></svg>
        </div>
        <div class="grid-item" style="grid-column: 1">
          <svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#angular' | relative_url }}"></use></svg>
        </div>
        <div class="grid-item" style="grid-column: 2">
          <svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#sql' | relative_url }}"></use></svg>
        </div>
      </div>

    </div>
  </div>
</div>