---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>About me:</h3>
        </div>
      </div>
      <div class="row">
        <p class="col-md-12 text-center">
          Skills and proficiencies:
          <ul>
            <li><img src="../_includes/icon-dotnet.svg" alt="dotnet svg"/></li>
          </ul>
        </p>
      </div>
    </div>

  </div>

</div>