---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>About me:</h3>
        </div>
      </div>
      <div class="row">
        <p class="col-md-12 text-center">
          Skills and proficiencies:
          <ul style="list-style-type: none;">
            <li><svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#dotnet' | relative_url }}"></use></svg></li>
            <li><svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#csharp' | relative_url }}"></use></svg></li>
            <li><svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#sql' | relative_url }}"></use></svg></li>
            <li><svg class="proficiency-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#angular' | relative_url }}"></use></svg></li>
          </ul>
        </p>
      </div>
    </div>

  </div>

</div>