---
layout: default
---
<style>
  .animate-charcter
    {
      text-transform: uppercase;
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 50px;
    }

    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
</style>


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div style="background-image: url(../_site/assets/Background.JPG);">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter">Welcome to my site!</h3>
        </div>
      </div>
    </div>
    <p>
      Welcome to my home page! If you want to know more about me go to my about page, click any of my social links in my footer, or send me an email!
    </p>
  </div>

</div>